appnope==0.1.0
apptools==4.5.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bctpy==0.5.2
bleach==3.1.5
brainspace==0.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
configobj==5.0.6
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
envisage==4.9.2
future==0.18.2
glob3==0.0.1
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==2.2.8
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
kiwisolver==1.2.0
littleutils==0.2.2
lxml==4.5.2
MarkupSafe==1.1.1
mat73==0.41
matplotlib==3.3.2
mayavi==4.7.2
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.2
nbformat==5.0.7
nest-asyncio==1.4.0
nibabel==3.1.1
nilearn==0.6.2
notebook==6.1.5
numpy==1.19.2
outdated==0.2.0
packaging==20.4
pandas==1.1.2
pandas-flavor==0.2.0
pandocfilters==1.4.2
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pingouin==0.3.8
progressbar2==3.53.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
pyface==7.0.1
pygam==0.8.0
Pygments==2.7.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyrsistent==0.17.3
pysurfer==0.11.0
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
regressors==0.0.3
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
statsmodels==0.12.0
tabulate==0.8.7
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==5.0.4
traits==6.1.1
traitsui==7.0.1
urllib3==1.25.10
vtk==8.1.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.16.0
zipp==3.1.0
