appnope==0.1.0
apptools==4.4.0
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
configobj==5.0.6
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
defusedxml==0.5.0
dill==0.3.0
entrypoints==0.3
envisage==4.7.1
future==0.17.1
GPy==1.9.6
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
jedi==0.13.3
Jinja2==2.10.1
json5==0.8.5
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==1.2.3
jupyterlab-server==1.0.6
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mayavi==4.6.2
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
nibabel==2.4.0
nispat==0.12
notebook==5.7.8
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
paramz==0.9.4
parso==0.4.0
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pingouin==0.2.7
progressbar2==3.42.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptitprince==0.1.4
ptyprocess==0.6.0
pyface==6.0.0
pygam==0.8.0
Pygments==2.3.1
PyHamcrest==1.9.0
pyparsing==2.4.0
PyQt5==5.12.1
PyQt5-sip==4.19.15
pyrsistent==0.14.11
pysurfer==0.9.0
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.1
pyzmq==18.0.1
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
statsmodels==0.10.0
terminado==0.8.2
testpath==0.4.2
torch==1.0.1.post2
tornado==6.0.3
traitlets==4.3.2
traits==5.0.0
traitsui==6.0.0
vtk==8.1.2
wcwidth==0.1.7
webencodings==0.5.1
